services:
  mc:
    # 명시적으로 latest 태그를 붙여서
    # `docker compose pull`이나 `up` 시 최신 이미지를 가져오도록 함
    image: itzg/minecraft-server:latest
    container_name: mc-crossplay
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
      - "19132:19132/udp"
    environment:
      EULA: "TRUE"
      TYPE: "PAPER"
      VERSION: "1.21.11"
      MEMORY: "28G"
      
      # [삭제] 작동 안 하던 변수는 깔끔하게 삭제
      # EXEC_PRE_STARTUP_COMMAND: ... 
      
    volumes:
      - ./data:/data
      - ./plugins:/_staging/plugins:ro
      - ./server.properties:/data/server.properties
      - ./scripts:/data/scripts
    
    # [핵심] 기존 서버 실행 명령(/start)을 가로채서
    # "내 스크립트를 먼저 실행하고(bash ...), 그 다음에 서버를 켜라(/start)"고 지시함
    entrypoint: 
      - "/bin/bash"
      - "-c"
      - "bash /data/scripts/update-plugins.sh && /start"

    restart: unless-stopped
    mem_limit: 30000000000
    memswap_limit: 30000000000