services:
  mc:
    image: itzg/minecraft-server
    container_name: mc-crossplay
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
      - "19132:19132/udp"
    environment:
      EULA: "TRUE"
      TYPE: "PAPER"
      # [수정] latest 대신 명확한 버전을 입력하여 1.21.10 오류 회피
      VERSION: "1.21.11"
      MEMORY: "4G"
      
      MODRINTH_PROJECTS: "geyser,floodgate"
      
      # [중요] 베타 버전 플러그인(Geyser 등) 다운로드 허용
      MODRINTH_ALLOWED_VERSION_TYPES: "release,beta"
      
    volumes:
      - ./data:/data
    restart: unless-stopped
